@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  scroll-behavior: smooth;
}

.content {
  min-height: 100vh;
  background: $dark;
  color: $white;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.loader {
  border: 0.75rem solid $white;
  border-radius: 50%;
  border-top: 0.75rem solid $accent;
  width: 10rem;
  height: 10rem;
  animation: loading 1.5s linear infinite;
}
